.employeeForm{
    display: block;
}
.recruiterInformation{
    display: none;
}
.familyInfoField{
    display: none;
}
.childInfoField{
    display:none;
}
.petInfoFields{
    display: none;
}
.submitButton{
    display:block;
    margin: 0 auto;
    width: 25%;

}
.align-right{
    text-align: right;
}
label{
    font-weight: bold;
}
.stateCity{
    display:none;
}
.currentBranch{
    display:none;
}







